/* You can add global styles to this file, and also import other style files */
body{

    background-color: #1e1a2c;
    color: white;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 20px;
}
