<div id="container">
    <div>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;
            I am currently a Web Developer at BAYANE SOLUTION company and I am studying 
            the bachelor's degree in parallel at the National School of Applied Sciences.
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;
            My main skill is ANGULAR. However, I can go Full Stack with JAVA/Spring Boot 
            or Node.js (depending on the web app architecture ), interacting with relational databases
            like MySQL, Postgres and Oracle.
        </p>
    </div>
    <img src="assets/img/profil.jpg" alt="Profil picture">
</div>

